input{
	twitter {
	    consumer_key => "consumer_key"
	    consumer_secret => "consumer_secret"
	    oauth_token => "oauth_token"
	    oauth_token_secret => "oauth_token_secret"
	    keywords => ["熊本地震" , "熊本" , "地震" , "日本" , "japan earthquake" ,"#日本大地震" ,"earthquake" , "japan" , "Japan"]
	    languages => ["en" , "ja" , "zh-tw" , "zh-cn"]
	    full_tweet => true
	}
}
output{
	elasticsearch{
	    index => "twitter"
	}
	file{
		codec => "json"
		path => ["~/Desktop/logstash-2.3.1/twitter_data.json"]
	}
}
